<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
		 xmlns="http://java.sun.com/xml/ns/j2ee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>AddFriendServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.AddFriendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFriendServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.DeleteFriendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateFriendServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.UpdateFriendServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DividePageServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.DividePageServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>haha</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>AddFriendTypeServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.AddFriendTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateFriendTypeServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.UpdateFriendTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteFriendTypeServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.DeleteFriendTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindFriendByIdServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.FindFriendByIdServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindAllFriendTypeServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.FindAllFriendTypeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindFriendTypeByIdServlet</servlet-name>
		<servlet-class>com.jstfs.web.friends.servlet.FindFriendTypeByIdServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddFriendServlet</servlet-name>
		<url-pattern>/addFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFriendServlet</servlet-name>
		<url-pattern>/deleteFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateFriendServlet</servlet-name>
		<url-pattern>/updateFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DividePageServlet</servlet-name>
		<url-pattern>/dividePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFriendTypeServlet</servlet-name>
		<url-pattern>/addFriendType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateFriendTypeServlet</servlet-name>
		<url-pattern>/updateFriendType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteFriendTypeServlet</servlet-name>
		<url-pattern>/deleteFriendType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFriendByIdServlet</servlet-name>
		<url-pattern>/findFriendById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindAllFriendTypeServlet</servlet-name>
		<url-pattern>/findAllFriendType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindFriendTypeByIdServlet</servlet-name>
		<url-pattern>/findFriendTypeById</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
